/*------------------------------------ Section breaks ----------------------------*/


.section__break{



	grid-column: start 2 / start 10;

	// background-color: $-color-accent-orange;

	margin-bottom: $-mgb-break-sm;





	&-heading{


		font-size: 3.6rem;

// text-transform: uppercase;

color: $-color-secondary;




	}


	&-heading-color--1:after{


		content: "";
		display: block;

		width: 120rem;

		// background-color: $-color-primary;
		height: 35rem;


		position: absolute;

		top: 200%;
		left: -0%;

		z-index: -200;

		border: 1px solid $-outline-faint;

		border-radius: 8px;

		background-image: linear-gradient(to bottom right,$-color-primary, $-color-primary-light-1);


	}



	&-heading-color--2:before{


		content: "";
		display: block;

		width: 120rem;

		// background-color: $-color-primary;
		height: 35rem;


		position: absolute;

		top: 1017%;
		left: -0%;

		z-index: -200;

		border: 1px solid $-outline-faint;

		border-radius: 8px;


		background-image: linear-gradient(to top left,$-color-primary, $-color-primary-light-1);
		


	}






	&-sub{

		font-size: $-font-med;

		color: $-color-accent-orange-dark;

		margin-bottom: $-mgb-sm;




	}
}


.section__break-color--1{

	position: relative;
}

