/*--------------------------------------- Pricing ---------------------------------*/


.pricing {

  grid-column: start 3/ start 9;

  display: grid;


  grid-template-columns: repeat(auto-fit, 25rem);


  align-items: center;

  justify-content: space-evenly;

  column-gap: 1.6rem;


}


  // .card-basic {}





  .card {

  

    -moz-perspective: 150rem;
    perspective: 80rem;
    height: 40rem;



    display: grid;



    &__heading {


			background-image: linear-gradient(to bottom right, $-color-accent-orange, $-color-accent-orange-lightest);

			font-size:$-font-xmed;

			font-weight: 400;
      text-align: center;
			
      text-transform: uppercase;

      padding: 4rem 0;

      margin-bottom: 5rem;






      &-back {

        margin-bottom: 5rem;

      }

    }


    &__side {


      height: 40rem;

      backface-visibility: hidden;

      overflow: hidden;

      transition: all 1s;
			border-radius: 2rem;		
		
			border-bottom-left-radius: 0;
			border-bottom-right-radius: 0;
	




      &-front {

        background-color: #fff;
				
        transform: rotateY(0);
				
				
        &-basic, &-standard,&-premium {
					
					grid-column: 1/2;
          grid-row: 1/2;
					
					
        }
				
      }
			
			
			
      &-back {
				
				background-color: #fff;

        transform: rotateY(180deg);


        &-basic,&-standard, &-premium {

          grid-column: 1/2;
          grid-row: 1/2;

        }

      }





    }


		
		&:hover &__side-front {

			transform: rotateY(-180deg);
	
	
		}
	
	
	
		&:hover &__side-back {
	
			transform: rotateY(0);
	
		}



		&__icon{

			height: 2rem;
			width: 2rem;
		}



		&__list{

			padding:0 2.4rem;

			
			&-item{
				
				display: flex;

				gap: 1.6rem;

				align-items: center;

				margin-bottom: $-mgb-sm;



			}
		}

		&__text{

			font-size: $-font-sm;



		}

  }

