/*--------------------------------------- Sevices ----------------------------------*/


.services {


  grid-column: start 3 / start 9;

  margin-bottom: $-mgb-break-lg;


  &__span {
    background-image: linear-gradient(transparent 2.2rem, $-color-accent-red-lightest 50%, $-color-accent-red 100%);
  }




  /// feature grid 




  display: grid;

  grid-template-columns: repeat(auto-fit, minmax(35rem, 1fr));


  align-items: center;

  justify-items: center;

  column-gap: 5rem;


  row-gap: 5rem;


  position: relative;


  &__num {


		


    &-1 {


      font-size: 16rem;;

      position: absolute;

      top: 6%;
      left: 72%;


      opacity: .11;
      z-index: 100000;
    }




		&-2{


			font-size: 16rem;;

      position: absolute;

      top: 41%;
      left: 19%;


      opacity: .11;
      z-index: 100000;



		}


		&-3{


			font-size: 16rem;;

      position: absolute;

      top: 76%;
      left: 72%;


      opacity: .11;
      z-index: 100000;


		}


  }


  &__list {


    list-style: none;

    padding: 2rem;

    background-color: #fff;

    border: 2px solid $-color-secondary;
    border-radius: 2rem;
    border-bottom-left-radius: 0;
    border-top-right-radius: 0;

    transform: skew(-10deg);

    width: 85%;





    &-heading {

      text-align: center;
      font-size: $-font-med;

      color: $-color-primary-dark;

      font-weight: 600;

      margin-bottom: $-mgb-med;

      transform: skew(10deg);

    }



    /// pseudo 1,2,3


    &-item {


      display: flex;

      align-items: center;

      gap: 2rem;

      padding-left: 2rem;

      margin-bottom: $-mgb-xsm;


      color: $-color-primary-dark;


      transform: skew(10deg);

    }


    &-text {

      font-size: 1.2rem;

    }


  }



  &__img {

    width: 100%;
    height: 30rem;

    align-self: flex-start;

  }


  &__icon {

    height: 1.6rem;
    width: 1.6rem;
  }


}