/*---------------------------------- Variables -------------------------------*/
/*-------------------------------- Animations ---------------------------------*/
@keyframes left__slidein-circle {
  0% {
    transform: translate(0, -165px); }
  75% {
    transform: translate(125rem, -165px); }
  100% {
    transform: translate(125rem, -65px); } }

@keyframes right__slidein-circle {
  0% {
    transform: translate(125rem, -65px); }
  75% {
    transform: translate(0, -65px); }
  100% {
    transform: translate(0, -165px); } }

@keyframes right__slidein-straight {
  0% {
    transform: translate(125rem, -90px); }
  100% {
    transform: translate(0, -90px); } }

@keyframes left__slidein-straight {
  0% {
    transform: translate(0, -130px); }
  100% {
    transform: translate(125rem, -130px); } }

.left__slider-circle {
  height: .5rem;
  width: 25rem;
  background-image: linear-gradient(#fbc5c5 50%, #f03e3e 90%, #33e7d6);
  animation: left__slidein-circle 5s linear infinite;
  z-index: -20; }

.right__slider-circle {
  height: .5rem;
  width: 25rem;
  background-image: linear-gradient(#fbc5c5 50%, #f03e3e 90%, #33e7d6);
  animation: right__slidein-circle 5s linear infinite;
  z-index: -20; }

.right__slider-straight {
  height: .5rem;
  width: 15rem;
  background-image: linear-gradient(#fbc5c5 50%, #f03e3e 90%, #33e7d6);
  animation: right__slidein-straight 3s linear infinite;
  z-index: -20; }

.left__slider-straight {
  height: .5rem;
  width: 15rem;
  background-image: linear-gradient(#fbc5c5 50%, #f03e3e 90%, #33e7d6);
  animation: left__slidein-straight 3s linear infinite;
  z-index: -20; }

/*-------------------------------   Base file   ---------------------------------*/
*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: inherit; }

html {
  box-sizing: border-box;
  background-color: #fff;
  z-index: -50; }

body {
  box-shadow: 0.6rem 0.6rem 1.4rem rgba(0, 0, 0, 0.3); }

.container {
  max-width: 150rem;
  margin: 3rem auto;
  display: grid;
  grid-template-columns: repeat(10, [start] minmax(min-content, 15rem) [end]);
  grid-template-rows: 1fr repeat(9, [start] minmax(min-content, 12rem) [end]); }

.underline {
  background-image: linear-gradient(transparent 6.2rem, #fbc5c5 50%, #f03e3e 90%, #33e7d6); }

/*----------------------------------- Typography ---------------------------------*/
html {
  font-size: 62.5%; }

body {
  font-family: "Inter", sans-serif; }

/*---------------------------------- Feature -----------------------------------*/
.feature {
  grid-column: start 2/ start 10;
  grid-template-columns: repeat(auto-fit, minmax(33rem, 1fr));
  padding: 0 3.2rem;
  display: grid;
  align-items: flex-start;
  row-gap: 2rem;
  margin-bottom: 16rem; }
  .feature__box {
    display: grid;
    grid-template-columns: min-content auto;
    grid-template-rows: 3rem max-content;
    align-items: flex-start;
    column-gap: 1.2rem;
    row-gap: 1.2rem;
    color: #06192b; }
  .feature__icon {
    transform: translateY(-1rem);
    height: 4.2rem;
    width: 4.2rem;
    grid-row: 1/span 2;
    text-shadow: 2px 2px 2px black; }
  .feature__heading {
    font-size: 2rem;
    letter-spacing: .05rem; }
  .feature__text {
    font-size: 1.6rem;
    margin-bottom: 2rem;
    color: #0c3256;
    margin-right: 6rem;
    line-height: 1.2; }

/*------------------------------------- Form popup -------------------------------*/
.popup {
  position: fixed;
  top: 0;
  left: 0;
  height: 100vh;
  width: 100%;
  z-index: 10000;
  opacity: 0;
  visibility: hidden;
  background-color: rgba(0, 0, 0, 0.9); }
  .popup:target {
    opacity: 1;
    visibility: visible; }
  .popup__content {
    width: 50%;
    transform: translate(50%, 50%) scale(0.1);
    transition: all .3s;
    transition-delay: .1s;
    opacity: 0;
    position: relative; }
  .popup:target .popup__content {
    transform: translate(50%, 50%) scale(1.1);
    opacity: 1; }
  .popup__form {
    background-image: linear-gradient(100deg, rgba(210, 244, 249, 0.9) 0%, rgba(255, 255, 255, 0.9) 52.5%, transparent 50%), url(../img/myweb-cropped.png);
    background-size: cover;
    padding: 4.8rem;
    width: 100%; }
    .popup__form-group:not(:last-child) {
      margin-bottom: 2rem; }
    .popup__form-heading {
      font-size: 3.2rem;
      text-align: left;
      margin-bottom: 4.8rem;
      padding-left: 10rem; }
    .popup__form-input {
      font-family: inherit;
      color: #4c3100;
      font-size: 1.6rem;
      padding: 1rem 3rem;
      border-radius: 2px;
      background-color: rgba(255, 255, 255, 0.5);
      border: 3px solid transparent;
      width: 45%;
      display: block;
      transition: all .3s; }
      .popup__form-input:focus {
        outline: none;
        box-shadow: 1px 1px 8px rgba(0, 0, 0, 0.2);
        border-bottom: 2px solid #ffa500; }
      .popup__form-input:focus:invalid {
        border-bottom: 3px solid #a82b2b; }
      .popup__form-input::placeholder {
        color: #4c3100; }
    .popup__form-btn, .popup__form-btn:link, .popup__form-btn:visited {
      display: inline-block;
      padding: 1rem 1.6rem;
      background-color: #80f0e6;
      text-decoration: none;
      font-size: 1.6rem;
      color: #001614;
      border-radius: 1rem;
      box-shadow: 3px 3px 1rem rgba(0, 0, 0, 0.25);
      text-transform: uppercase;
      margin-left: 12rem;
      transition: all .2s; }
    .popup__form-btn:hover, .popup__form-btn:active {
      background-color: #ffb733;
      transform: scale(1.05);
      box-shadow: 0.6rem 0.6rem 1.4rem rgba(0, 0, 0, 0.3); }
    .popup__form-label {
      font-size: 1.2rem;
      font-weight: 600;
      color: #805300;
      margin-left: 3.2rem;
      margin-top: .7rem;
      display: block;
      transition: all .3s; }
    .popup__form-input:placeholder-shown + .popup__form-label {
      opacity: 0;
      visibility: hidden;
      transform: translateY(-4rem); }
  .popup__close, .popup__close:link, .popup__close:visited {
    position: absolute;
    color: #fff;
    top: -0.5rem;
    right: 0.5rem;
    font-size: 3.2rem;
    text-decoration: none;
    display: inline-block;
    line-height: 1; }

/*--------------------------------------- Pricing ---------------------------------*/
.pricing {
  grid-column: start 3/ start 9;
  display: grid;
  grid-template-columns: repeat(auto-fit, 26.25rem);
  align-items: center;
  justify-content: space-between;
  column-gap: .8rem;
  margin-bottom: 16rem; }

.card {
  -moz-perspective: 150rem;
  perspective: 80rem;
  height: 36rem;
  display: grid; }
  .card__heading {
    background-image: linear-gradient(to bottom right, #ffa500, #ffe4b3);
    font-size: 2.4rem;
    font-weight: 500;
    color: #4c3100;
    text-align: center;
    text-transform: uppercase;
    padding: 3.2rem 0;
    margin-bottom: 5.6rem;
    border-bottom: 1px solid #4c3100; }
    .card__heading-basic {
      background-image: linear-gradient(to bottom right, #f03e3e, #fbc5c5); }
    .card__heading-standard {
      background-image: linear-gradient(to bottom right, #ffa500, #ffe4b3); }
    .card__heading-premium {
      background-image: linear-gradient(to bottom right, #33e7d6, #e6fcfa); }
    .card__heading-back {
      margin-bottom: 5rem; }
  .card__side {
    height: 36rem;
    backface-visibility: hidden;
    overflow: hidden;
    transition: all 1s;
    border-radius: 2rem;
    border-bottom-left-radius: 0;
    border-bottom-right-radius: 0;
    box-shadow: 1px 1px 8px rgba(0, 0, 0, 0.2); }
    .card__side-front {
      background-color: #fff;
      transform: rotateY(0); }
      .card__side-front-basic, .card__side-front-standard, .card__side-front-premium {
        grid-column: 1/2;
        grid-row: 1/2; }
      .card__side-front-standard:after {
        content: "Best Value";
        display: block;
        padding-top: .75rem;
        background-color: #f03e3e;
        transform: translateX(147%) translateY(-1088%) rotate(45deg);
        width: 45%;
        height: 3rem;
        font-size: 1.2rem;
        font-weight: 600;
        color: #fff;
        text-align: center; }
    .card__side-back {
      background-color: #fff;
      transform: rotateY(180deg); }
      .card__side-back-basic, .card__side-back-standard, .card__side-back-premium {
        grid-column: 1/2;
        grid-row: 1/2; }
      .card__side-back-standard:after {
        content: "Best Value";
        display: block;
        padding-top: .75rem;
        background-color: #f03e3e;
        transform: translateX(147%) translateY(-1050%) rotate(45deg);
        width: 45%;
        height: 3rem;
        font-size: 1.2rem;
        font-weight: 600;
        color: #fff;
        text-align: center; }
  .card:hover .card__side-front {
    transform: rotateY(-180deg); }
  .card:hover .card__side-back {
    transform: rotateY(0); }
  .card__icon {
    height: 2rem;
    width: 2rem;
    fill: #4c3100; }
  .card__list {
    padding-left: 1.6rem; }
    .card__list-item {
      display: flex;
      gap: 1.8rem;
      align-items: center;
      margin-bottom: 1.8rem; }
  .card__text {
    font-size: 1.6rem;
    color: #4c3100; }
  .card__payment {
    font-size: 2.4rem;
    font-weight: 200;
    margin-bottom: 1rem; }
    .card__payment-price {
      font-size: 7.2rem;
      font-weight: 400; }
    .card__payment-sub {
      font-size: 1.2rem;
      margin-bottom: 3.2rem; }
  .card__btn, .card__btn:link, .card__btn:visited {
    background-image: linear-gradient(to bottom right, #ffa500, #ffe4b3);
    padding: 1.2rem 2.4rem;
    border-radius: 5px;
    text-decoration: none;
    color: #0c3256;
    transition: all .2s;
    margin-bottom: 2rem; }
  .card__btn:hover, .card__btn:active {
    background-image: linear-gradient(to bottom right, #33e7d6, #99f3eb, #e6fcfa);
    font-size: 1.4rem;
    color: #06192b;
    font-weight: 400;
    box-shadow: 3px 3px 1rem rgba(0, 0, 0, 0.25); }

.card__cta {
  text-align: center; }

/*--------------------------------------- Sevices ----------------------------------*/
.services {
  grid-column: start 3 / start 9;
  margin-bottom: 16rem;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(35rem, 1fr));
  align-items: center;
  justify-items: center;
  column-gap: 5rem;
  row-gap: 5rem;
  position: relative; }
  .services__span {
    background-image: linear-gradient(transparent 2.2rem, #fbc5c5 50%, #f03e3e 100%); }
  .services__num-1 {
    font-size: 16rem;
    position: absolute;
    top: 6%;
    left: 72%;
    opacity: .11;
    z-index: 100000; }
  .services__num-2 {
    font-size: 16rem;
    position: absolute;
    top: 41%;
    left: 19%;
    opacity: .11;
    z-index: 100000; }
  .services__num-3 {
    font-size: 16rem;
    position: absolute;
    top: 76%;
    left: 72%;
    opacity: .11;
    z-index: 100000; }
  .services__list {
    list-style: none;
    padding: 2rem;
    background-color: #fff;
    border: 2px solid #0c3256;
    border-radius: 2rem;
    border-bottom-left-radius: 0;
    border-top-right-radius: 0;
    transform: skew(-10deg);
    width: 85%; }
    .services__list-heading {
      text-align: center;
      font-size: 2.4rem;
      color: #001614;
      font-weight: 600;
      margin-bottom: 3.2rem;
      transform: skew(10deg); }
    .services__list-item {
      display: flex;
      align-items: center;
      gap: 2rem;
      padding-left: 2rem;
      margin-bottom: 1rem;
      color: #001614;
      transform: skew(10deg); }
    .services__list-text {
      font-size: 1.2rem; }
  .services__img {
    width: 100%;
    height: 30rem;
    align-self: flex-start; }
  .services__icon {
    height: 1.6rem;
    width: 1.6rem; }

/*--------------------------------------- Social -------------------------------------*/
.social {
  grid-column: start 3 / start 9;
  margin-bottom: 8.8rem;
  display: grid;
  justify-content: center;
  grid-template-columns: repeat(auto-fit, 10rem);
  align-items: center;
  justify-items: center; }
  .social__icon,
  .social__icon:link .social__icon:visited {
    height: 6rem;
    width: 6rem;
    transition: all .2s; }
  .social__icon:hover, .social__icon:active {
    transform: scale(1.35) translateY(-3px); }

/*-----------------------------------   Header   --------------------------------*/
.nav {
  background-color: #33e7d6;
  grid-column: 1/-1;
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
  padding-bottom: 2rem; }
  .nav__logo {
    height: 8.8rem;
    width: 8.8rem;
    margin-left: 10rem;
    margin-top: 1.6rem; }
  .nav__list {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    gap: 8.8rem;
    margin-right: 10rem;
    padding-top: 2.4rem;
    font-size: 1.6rem;
    font-weight: 500;
    list-style: none; }
    .nav__list-link, .nav__list-link:link, .nav__list-link:visited {
      color: #0c3256;
      text-decoration: none;
      transition: all .2s; }
    .nav__list-link:hover:not(.nav__list-btn), .nav__list-link:active:not(.nav__list-btn) {
      display: inline-block;
      color: #ffa500;
      text-shadow: 0.5px 0.5px 2px rgba(0, 0, 0, 0.25);
      transform: scale(1.18); }
    .nav__list-btn, .nav__list-btn:link, .nav__list-btn:active {
      display: inline-block;
      padding: 1rem 1.6rem;
      border-radius: 1rem;
      transition: all .2s ease-in;
      margin-left: -1.6rem;
      box-shadow: 1px 1px 8px rgba(0, 0, 0, 0.2);
      background-color: #99f3eb; }
    .nav__list-btn:hover, .nav__list-btn:active {
      transform: scale(1.08);
      box-shadow: 3px 3px 1rem rgba(0, 0, 0, 0.25);
      background-image: linear-gradient(#ffe4b3 50%, #ffa500 100%); }

.header {
  background-color: #33e7d6;
  grid-column: 1/-1;
  grid-row: 2/3;
  display: flex;
  align-items: center;
  gap: 6rem;
  height: 71vh;
  margin-bottom: 12rem;
  color: #0c3256; }
  .header__text-box {
    position: relative;
    flex: 0 0 55%; }
  .header__btn, .header__btn:link, .header__btn:visited {
    display: inline-block;
    padding: 1rem 1.6rem;
    border-radius: 1rem;
    transition: all .2s ease-in;
    box-shadow: 1px 1px 8px rgba(0, 0, 0, 0.2);
    background-color: #99f3eb;
    font-size: 1.6rem;
    text-decoration: none;
    font-weight: 500;
    color: #0c3256;
    margin-left: 10rem; }
  .header__btn:hover, .header__btn:active {
    transform: scale(1.08);
    box-shadow: 3px 3px 1rem rgba(0, 0, 0, 0.25);
    background-image: linear-gradient(#ffe4b3 50%, #ffa500 100%); }
  .header__heading-primary {
    font-size: 6.4rem;
    color: inherit;
    line-height: 1;
    padding-left: 10rem;
    margin-bottom: 6.4rem;
    z-index: 10;
    position: relative; }
  .header__paragraph {
    font-size: 2.4rem;
    color: inherit;
    padding-left: 10rem;
    margin-bottom: 3.2rem; }
  .header__img {
    height: 53.5rem;
    width: 100%;
    flex: 0 0 40%;
    z-index: 10; }

/*-------------------------------------  footer  ---------------------------------*/
.footer {
  grid-column: start 2 / start 10;
  border-top: 1px solid #805300;
  display: grid;
  grid-template-columns: repeat(auto-fit, 25rem);
  align-items: flex-start;
  justify-content: space-evenly; }
  .footer__logo-img {
    margin-top: 6.4rem;
    height: 12rem;
    width: 12rem; }
  .footer__section {
    display: flex;
    flex-direction: column;
    gap: 3.2rem;
    padding-top: 6.4rem; }
  .footer__heading {
    font-size: 1.6rem;
    font-weight: 400;
    text-transform: uppercase;
    color: #001614; }
  .footer__link:link, .footer__link:visited {
    text-decoration: none;
    color: #4c3100;
    transition: all .2s; }
  .footer__link:hover, .footer__link:active {
    color: #805300;
    transform: scale(1.15) translateX(2px) translateY(-5px);
    text-shadow: .25px .25px .5px black;
    display: inline-block; }
  .footer__list {
    list-style: none; }
    .footer__list-item {
      font-size: 1.2rem;
      margin-bottom: 1rem;
      color: #4c3100; }

/*------------------------------------ Section breaks ----------------------------*/
.section__break {
  grid-column: start 3 / start 9;
  margin-bottom: 12rem; }
  .section__break-heading {
    font-size: 3.6rem;
    color: #0c3256; }
  .section__break-sub {
    font-size: 2.4rem;
    color: #805300;
    margin-bottom: 2rem; }
