/*------------------------- Main box -------------------------*/


.main-box {



  grid-column: 2/10;

  padding: 6rem 0;

  display: grid;

  grid-template-columns: 1fr 6rem 1fr;







  &__from, &__to {


    display: flex;

    flex-direction: column;

    gap: 3rem;


    align-items: start;

    padding: 3.2rem 6.4rem;

    background-color: $-color-red-primary-light-3;


    border-radius: 4px;

    box-shadow: $-bsh-light;


    &--form {


      margin-bottom: $-mg-btm-sm;

      font-size: $-font-display;
    }



    &--btn {


      padding: 1rem 2rem;


      align-self: center;


    }

  }




  &__heading {


    text-transform: uppercase;

    font-size: $-font-med;

    align-self: center;

    padding-top: 1.6rem;

    font-weight: 500;





    &-from, &-to {

      margin-bottom: $-mg-btm-med-sm;


    }


  }



  &__currency-from, &__currency-to {


    margin-bottom: $-mg-btm-sm;
  }



  &__label {

    font-size: $-font-display;



  }



  &__form--input {

		padding: .4rem 0.2rem;
	}





  &__equals {


    align-self: center;

    justify-self: center;

    &-symbol {

      font-size: $-font-lg;

      padding: 1rem;



    }
  }


  &__to {

 

    background-color: $-color-green-secondary-light-3;
   }


}