/*------------------------- Main box -------------------------*/


.main-box {



  grid-column: 2/10;

  padding: 6rem 0;

  display: grid;

  grid-template-columns: 1fr 6rem 1fr;







  &__from,
  &__to {


    display: flex;

    flex-direction: column;

    gap: 3rem;


    align-items: start;

    // padding: 3.2rem 6.4rem;
    padding: 3.6rem 8.4rem;


    background-color: $-color-red-primary-light-3;


    border-radius: 4px;

    box-shadow: $-bsh-light;


    &--form {


      margin-bottom: $-mg-btm-sm;

      font-size: $-font-display;
    }



    &--btn {


      padding: 1rem 2rem;


      align-self: center;

      justify-self: center;

      border: none;

      border-radius: 3px;

      box-shadow: $-bsh-light;

      background-color: $-color-green-secondary-dark-1;

      color: #fff;

      cursor: pointer;

      font-size: $-font-display;

      font-weight: 800;

      transition: all .2s;


    }

    &--btn:hover {

      background-color: $-color-green-secondary-dark-5;
      transform: scale(1.1);
    }

  }




  &__heading {


    text-transform: uppercase;

    font-size: $-font-med;

    align-self: center;



    padding-top: 1.6rem;

    font-weight: 500;





    &-from,
    &-to {

      margin-bottom: $-mg-btm-med-sm;


    }


  }


  &__currency,
  &__form--input {

    border: none;
    padding: .4rem 0;
    border-radius: 3px;
    background-color: #fff;
    margin-left: 1.2rem;

    border: 2px solid $-color-grey-light-3;
  }



  &__currency-from,
  &__currency-to {


    margin-bottom: $-mg-btm-sm;
  }



  &__label {

    font-size: $-font-display;



  }



  &__form--input {

    padding: .4rem 0.2rem;
    width: 55%;
  }





  &__equals {


    align-self: center;

    justify-self: center;



    &-symbol {

      font-size: $-font-huge;

      padding: 1rem;
   


    }
  }


  &__to {



    background-color: #fff2b8;
  }





}