/*-----------------------------------   Header   --------------------------------*/




///////  Nav  ///////




.nav {


  grid-column: 1/-1;

	
	
	
  &__list {
		
		display: flex;

		align-items: center;
		
    justify-content: flex-end;
		
    gap: 8.8rem;
		
		
    margin-right: 12rem;
		
    padding-top: 2.4rem;
		
		
		
    font-size: $-font-display;
		
    font-weight: 500;
		
    list-style: none;



		
		

		

    &-link,
    &-link:link,
    &-link:visited {
			
      color: $-color-secondary;

      text-decoration: none;

			transition: all .2s;

			
    }



		
    &-link:hover:not(.nav__list-btn),
    &-link:active:not(.nav__list-btn) {

			display: inline-block;

			
      // background-image: linear-gradient(transparent 1.6rem, $-color-accent-orange-lightest 50%, $-color-accent-orange 100%);

			color: $-color-accent-orange;

			text-shadow: .5px .5px 2px rgba(0, 0, 0, 0.25);

		transform: scale(1.18);



		
			
    }

		
		
    &-btn,
    &-btn:link,
    &-btn:active {

			display: inline-block;
			
      padding:1rem 1.6rem;
			
			border-radius: 1rem;

			transition: all .2s ease-in;

			margin-left: -1.6rem;

			box-shadow: $-box-sh-lightest;

			background-color: $-color-primary-light-3;
    }
		
		
		
		
    &-btn:hover{

				transform: scale(1.08);		
			
    

			box-shadow: $-box-sh-light;
			
			background-image: linear-gradient($-color-accent-orange-lightest 50%, $-color-accent-orange 100%);
			
    }
		
  }

}





/////////   header    ///////////




.header {
	
	grid-column: 1/-1;

  grid-row: 2/3;
	
  display: flex;

  align-items: center;

  gap: 6rem;

  height: 70vh;

  margin-bottom: $-mgb-break-lg;




  color: $-color-secondary;


  &__text-box {

    position: relative;

    flex: 0 0 55%;




  }



  &__heading-primary {

    font-size: $-font-xl;
    color: inherit;

    line-height: 1;
    padding-left: 10rem;

    margin-bottom: $-mgb-med;

    z-index: 10;

    position: relative;


  }




  &__paragraph {

    font-size: 4rem;
    color: inherit;
    padding-left: 10rem;

  }




  &__img {

    height: 53.5rem;
    width: 100%;

    flex: 0 0 40%;

		z-index: 10;



  }


}
	
	
	