/*-------------------------------- Animations ---------------------------------*/




//////////           Animations        //////////



///   x ⬅ ➡  /  y ⬆ ⬇


@keyframes left__slidein-circle {
	
	
	0% {
		
		transform: translate(0, -165px)
  }

	
	75%{
		
		transform: translate(125rem, -165px)
		
	}
	
  100% {
		
		transform: translate(125rem, -65px)
		
  }
	
}






@keyframes right__slidein-circle {
	

  0% {
		
		transform: translate(125rem, -65px)
  }

	
	75%{

		transform: translate(0, -65px)
		
	}
	
  100% {
		
		transform: translate(0, -165px)
		
  }
	
	
}



///   x ⬅ ➡  /  y ⬆ ⬇



@keyframes right__slidein-straight {
	

  0% {

    transform: translate(125rem, -90px)
  }

	

	
  100% {
		
		transform: translate(0, -90px)
		
  }


}




@keyframes left__slidein-straight {
	
	
	0% {
		
		transform: translate(0, -130px)
  }

	

	
  100% {
		
		transform: translate(125rem, -130px)
		
  }
	
}










	
	///////////    Class  Elements        ////////////
	
	
	
	
	
	.left__slider-circle {
	
		height: .5rem;
		width: 25rem;
	
		background-image: linear-gradient($-color-accent-red-lightest 50%, $-color-accent-red 90%, $-color-primary);
	
		animation: left__slidein-circle 5s linear infinite;
	
		z-index: -20;
	
	
	}
	
	
	
	
	.right__slider-circle {
	
		height: .5rem;
		width: 25rem;
	
		background-image: linear-gradient($-color-accent-red-lightest 50%, $-color-accent-red 90%, $-color-primary);
	
		animation: right__slidein-circle 5s linear infinite;
	
		z-index: -20;
	
	
	}


	
	
	
	
	.right__slider-straight {
	
		height: .5rem;
		width: 15rem;
	
		background-image: linear-gradient($-color-accent-red-lightest 50%, $-color-accent-red 90%, $-color-primary);
	
		animation: right__slidein-straight 3s linear infinite;
	
		z-index: -20;
	
	
	}
	
	
	
	
	.left__slider-straight {
	
		height: .5rem;
		width: 15rem;
	
		background-image: linear-gradient($-color-accent-red-lightest 50%, $-color-accent-red 90%, $-color-primary);
	
		animation: left__slidein-straight 3s linear infinite;
	
		z-index: -20;
	
	
	}
	
	
