/*---------------------------------- Variables -------------------------------*/



/// colors




$-color-primary:#33e7d6;
$-color-primary-1:#00cbb8;
$-color-primary-2:#1ae4d1;


$-color-primary-light:#e6fcfa;
$-color-primary-light-1:#ccf9f5;
$-color-primary-light-2:#b3f6f0;
$-color-primary-light-3:#99f3eb;
$-color-primary-light-4:#80f0e6;
$-color-primary-light-5:#66ede0;
$-color-primary-light-6:#4deadb;
$-color-primary-light-7:#33e7d6;


$-color-primary-dark:#001614;
$-color-primary-dark-1:#002d29;
$-color-primary-dark-2:#00433d;
$-color-primary-dark-3:#005a52;
$-color-primary-dark-4:#007166;
$-color-primary-dark-5:#00877a;
$-color-primary-dark-6:#009e8f;
$-color-primary-dark-7:#00b4a3;





$-color-secondary:#0c3256;
$-color-secondary-1:#06192b;
$-color-secondary-2:#8699ab;

$-color-secondary-light:#244767;
$-color-secondary-light-1:#3d5b78;

$-color-secondary-dark:#0a2845;
$-color-secondary-dark:#071e34;




$-color-accent-yellow:#ffd43b;
$-color-accent-yellow-light:#ffe589;
$-color-accent-yellow-dark:#997f23;


$-color-accent-orange-lightest:#ffd280;
$-color-accent-orange-light:#ffb733;
$-color-accent-orange:#ffa500;
$-color-accent-orange-dark:#ffb733;
$-color-accent-orange-darkest:#805300;






$-color-accent-red:#f03e3e;
$-color-accent-red-light:#f68b8b;
$-color-accent-red-lightest:#fbc5c5;
$-color-accent-red-dark:#a82b2b;
$-color-accent-red-darkest:#481313;










/// font sizes



$-font-xsm: .8rem;
$-font-sm: 1.2rem;
$-font-display: 1.6rem;
$-font-med: 2.4rem;
$-font-xmed:3rem;
$-font-lg: 4.8rem;
$-font-xl: 6.4rem;
$-font-huge: 8.8rem;
$-font-hugest: 12rem;











/// shadows


$-box-sh-lightest:	1px 1px 8px rgba(0, 0, 0, 0.2);
$-box-sh-light:	3px 3px 1rem rgba(0, 0, 0, 0.25);
$-box-sh-med:	.6rem .6rem 1.4rem rgba(0, 0, 0, 0.3);
$-box-sh-dark:	1rem 1rem 1.8rem rgba(0, 0, 0, 0.5);













/// margins



$-mgb-xsm:1rem;
$-mgb-sm:2rem;
$-mgb-med:3.2rem;
$-mgb-lg:4.8rem;
$-mgb-xl:6.4rem;
$-mgb-huge:8.8rem;
$-mgb-break-sm:12rem;
$-mgb-break-lg:16rem;
$-mgb-break-xlg:20rem;




